
.h{

padding:15px;
width:570px;
}
.pic{
	width:1170px;
	height:auto;
	
}
.ba{
	margin-top:15px;
	margin-bottom:15px;
	background:#37AA43;
	text-align:right;
}
p{
	font-family: "Droid Naskh Bold";
	
}